




#showData {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 18px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  align: left;
}
h1 {font-size: 45px;
font-family: 'Orbitron', sans-serif;
}

table {
  table-layout: fixed;
  align: left;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}

table th, table td {
  text-align: top;
  padding: 12px;
}

table th {
	border: 5px solid #221a47;
	background-color: #221a47;
	font-size: 15px;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
}

table tr {
  border-bottom: 1px solid #ddd;
}

td{
    word-wrap:break-word;
	border: 5px solid #221a47;
	text-align: top;
}
tr:nth-child(even) {
    background-color: #b5cc99;
}
tr:nth-child(odd) {
    color: #f4424e;
	background-color: #f4f4fc;
}

input {
	backfound-color: #221a47;
	width: 100%;
	border-collapse: collapse;
	
}


#showData {
	width: 100%;
	align: center;
	margin-left: 10px;
	margin-right: 10px;
	
}
